body {
  background-color:lime;
}
h1, h2, h3, h4, h5, h6{
  background-color: orange;
  font-family: sans-serif;
}

.scoreBoard table, th{
  margin: 0 auto;
  background-color: yellow;
  border-style: solid; red;
  text-align: center;
}

ul li{
  list-style-type: square;
}
ol li{
  list-style-type: decimal;
}
ol li:first-child{
  font-weight: bold;
}

.hyperLink:hover{
  background-color: magenta;
  text-decoration: none;
}

blockquote{
  background-color: black;
  color: yellow;
}

#checkbox-grid li{
  list-style-type: none;
}

img{
  position: absolute;
  opacity: .30;
  z-index: -50;
  width:175px;
  height: 175px;
}
tr:nth-child(even) {background-color: white;}
